*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  }
html{
font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Oxygen', arial;
}
.button-sections{
display: inline-block;
background-color: #58c4c4;
padding: .9em 2.5em;
border-radius: 5px;
color: white;
text-decoration: none;
margin-top: 1em;
}

.button-sections:hover{
background-color: #37a0a0;
}
.top-header {
text-align: center;
}
.top-header-logo{
margin:.5em /* 8px*/;
}
.top-nav{
background-color:#612674;
text-align:center;
}
.top-nav ul{
list-style: none;
}
.top-nav a{
color: white;
text-decoration: none;
padding: 1em /* 1em = 16px*/;
display: block;
}
.top-nav a:hover{
background-color: #7c3792;
}
.top-content{ 
background-color:#f6f6f6;
padding: 1em;
text-align: center;
}

.top-content-title{
  color: #612674;
  font-size: 1.37em; /* 22/16 */
  margin: 1.37em;
}

.top-content-subtitle{
color: #a87bb7;
font-size: 1em;
line-height: 1.5;
}